<nav class='navbar navbar-default navbar-fixed-top' id='header'>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class='container'>
	<%# <%= spree.link_to_cart %1> %>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class='navbar-brand' href='/'>
				<img src=<%= image_path 'Iris_Logo_V2_Stacked_Web_GS-300x204.png' %> />
			</a>
		</div>

		<div class='collapse navbar-collapse'>
			<ul class='nav navbar-nav'>
				<li><a href='/products'><h4> Products </h4></a></li>
				<li><a href='/corporate'><h4> Corporate </h4></a></li>
				<li>
					<%= link_to main_app.news_index_path do %>
						<h4> News </h4>
					<% end %>
				</li>
				<li><a href='/contact'><h4> Contact </h4></a> </li>
					<% if user_signed_in? %>
						<li><%= link_to main_app.destroy_user_session_path, method: :delete do %>
							<h4> Logout </h4>
						</li>
						<% end %>
					<% else %>
						<li><%= link_to main_app.new_user_session_path do %>
							<h4> Login </h4>
						</li>
						<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
