<nav class='navbar navbar-default' id='nav-menu'>

	<div class='container'>
	<%# <%= spree.link_to_cart %1> %>
		<div class='navbar-header' id='navbar'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class='navbar-brand' href='/'>
				<img src=<%= image_path 'Iris_Logo_V2_Plain_Web_Grey.png' %> />
			</a>
		</div>

		<div class='collapse navbar-collapse'>
			<ul class='nav navbar-nav'>
				<li class='corporate-link'><a href='/#overview'><h4> Overview </h4></a></li>
				<li class='product-link'><a href='/#products'><h4> Products </h4></a></li>
				<li class='news-link'><a href='/#news'> <h4> News </h4></a></li>
				<li class='contact-link'><a href='/#contact'><h4> Contact </h4></a> </li>
				<li class='log-link'>
					<% if user_signed_in? %>
						<%= link_to main_app.destroy_user_session_path, method: :delete do %>
							<h4> Logout </h4>
						<% end %>
					<% else %>
						<%= link_to main_app.new_user_session_path do %>
							<h4> Login </h4>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</nav>
