<%= render "shared/header" %>
<%= render 'shared/nav_menu' %>

<div class='main-content container'>
	<div class='row nav-anchor' id='overview'>

		<%# <h2 class='mission'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2> %>
		<%# <h2 class='mission'> Human-Feedback Control Systems for Remote Operation of Aviation, Drones, Robotics, Marine and Land Vehicles.</h2> %>
		<%# <h2 class='mission'> Iris has developed a innovative control system ideally suited for use in remote drone and robotic applications. </h2> %>

	</div>
	<div class='row nav-anchor' id='our-tech'>
		<h1 class='squid'>Our Technology</h1>
		<p>The Iris Dynamics Ltd. Linear Actuator establishes a new class of variable force electromagnetic linear motion control systems.
		It was developed initially for use in high fidelity control loading applications, but has other applications in automotive, industrial, aerospace, marine, medical and defence.
		It is a mechanically simple design, which translates to reduced costs, higher reliability and operation in harsh environments. </p>

		<p>The device consists of an array of coils and a magnetic shaft which passes through the center of the array.
		Power to the coil array is continuously modulated via a drive controller that takes serial commands from an external port and
		adjusts the magnetic field strength and polarity as necessary. Interaction between the magnetic fields results in forces and movement of the shaft.
		The technology has the potential to substantially reduce the construction costs and increase the reliability of many motion control systems and other
		applications requiring precision linear actuators. </p>
	</div>

		<%= render "news/index" %>

		<div class='row'>
			<div class='col-md-6 nav-anchor' id='products'>
				<h1 class='squid'>Products</h1>
				<%= render 'shared/catalog' %>
			</div>
			<div class='col-md-6'>
				<h1 class='squid'>Services</h1>
			</div>
		</div>

		<div class='row nav-anchor' id='about'>
			<h1 class='squid'>About</h1>
			<div class='col-md-6'>
				<h2>Directors</h2>
			</div>
			<div class='col-md-6'>
				<h2>Advisors</h2>
			</div>
			<div class='col-xs-12'>
				<h2> Partners </h2>
			</div>
		</div>

		<%# <%= render "shared/home_glyphs" %1> %>
	</div>
</div>
