<%= render "shared/header" %>
<%= render 'shared/nav_menu' %>

<div class='main-content' id='home-index'>
	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='overview'>
				<div class='row'>

					<div class='col-xs-6 col-md-8'>
						<h1 class='squid'>Overview</h1>
						<div class='desc'>
							Iris Dynamics makes advanced motion control systems innovator that provides precision control-loading
							actuator systems for aerial, marine and terrestrial vehicles, factory automation, simulation and remote control.
							<%# Control Loading is a growing requirement for modern commercial flight training.  In the simplest terms, it provides a representation of %>
							<%# the actual control feel of real aircraft controls while in a simulated environment.  The historic challenge has been the cost of very complex %>
							<%# and expensive drive systems.  Iris Dynamics' control loading technology is based on a proprietary non-contact linear induction drive. %>
							<%# This has substantially lowered cost, increased reliability and smoother feel compared to competing technologies and products. %>
						</div>
					</div>
					<div class='col-xs-6 col-md-4'>
						<div class='image-hook'>
							<%= image_tag 'Custom_Install.jpg', class: 'tech-image' %>
							<%# <h3 class='price'> %>
							<%# 	Starting at $1,999.99 %>
							<%# </h3> %>
						</div>
					</div>

					<%# <h2 class='mission'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2> %>
					<%# <h2 class='mission'> Human-Feedback Control Systems for Remote Operation of Aviation, Drones, Robotics, Marine and Land Vehicles.</h2> %>
					<%# <h2 class='mission'> Iris has developed a innovative control system ideally suited for use in remote drone and robotic applications. </h2> %>

				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='our-tech-heading'>
		<h1 class='squid-white'>Our Technology</h1>
		<%= image_tag '350-px-slides/iStock_000015463791_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='our-tech'>
				<div class='row'>
					<div class='col-md-12'>
						<span class=desc>
							Iris has developed a new class of variable force electric linear actuator with
							applications in a wide variety of industries. The core technology has immediate
							applications in improving the human-machine interface by adding precision force
							feedback and haptic feel. Iris has launched the first generation of these devices
							into the flight simulator control loading market for both consumer and commercial
							applications.
							Iris has filed for PCT (international) and US Patents on the core technology and
							has a second provisional process patent on the underlying production methods
							for manufacturing the core component.
						</span>
						<span class='desc'>
							Control loading is the commercial simulation industry’s term for force feedback
							and haptics. Control loading is a growing requirement for modern commercial
							flight training. In the simplest terms, it provides a representation of the actual
							control feel of real aircraft controls while in a simulated environment. The historic
							challenge has been the cost of very complex and expensive drive systems. Iris
							Dynamics’ control loading technology has a substantially lower cost, increased
							reliability and smoother feel compared to competing technologies and products.
							This allows the Company to be competitively priced with better margins than the
							competition.
							</span>
					</div>
					<div class='col-md-6'>
						<span>
							<%= image_tag 'iris-tech-1.jpg', class: 'tech-image' %>
						</span>
						<span class='desc'>
							The Iris Dynamics Ltd. Linear Actuator establishes a new class of variable force electromagnetic linear motion control systems.
							It was developed initially for use in high fidelity control loading applications, but has other applications in automotive, industrial, aerospace, marine, medical and defence.
							It is a mechanically simple design, which translates to reduced costs, higher reliability and operation in harsh environments.
						</span>
					</div>

					<div class='col-md-6'>
						<span>
							<%= image_tag 'iris-tech-2.jpg', class: 'tech-image' %>
						</span>
						<span class='desc'>
							The device consists of an array of coils and a magnetic shaft which passes through the center of the array.
							Power to the coil array is continuously modulated via a drive controller that takes serial commands from an external port and
							adjusts the magnetic field strength and polarity as necessary. Interaction between the magnetic fields results in forces and movement of the shaft.
							The technology has the potential to substantially reduce the construction costs and increase the reliability of many motion control systems and other
							applications requiring precision linear actuators.
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='news-heading'>
		<h1 class='squid-white'>News</h1>
		<%= image_tag '350-px-slides/iStock_000003036229_Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='news'>
				<%= render "news/index" %>
			</div>
		</div>
	</section>

	<section class='sec-break' id='products-services-heading'>
		<h1 class='squid-white'>Products and Services</h1>
		<%= image_tag '350-px-slides/iStock_000019975185_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='products-services'>
				<div class='row'>
					<h3>Products</h3>
					<span class='desc'>
						Iris Dynamics is currently selling a prosumer priced control loading yoke to the
						global home user flight simulator market. The Company is extending its market
						penetration into the commercial flight training device market and then eventually
						into the wider simulation training space by way of custom actuator manufacturing
						and licensing. Beyond the simulation training markets, the Company’s ultimate
						goal is to penetrate the industrial motor control market with applications in heavy
						equipment, automotive, robotics, marine, and aerospace.
					</span>
					<div class='col-md-12 products'>
						<%= render 'shared/catalog' %>
					</div>
					<div class='col-md-12'>
						<h3>Consulting and Custom Products</h3>
						<span class='desc'>
							Iris Dynamics offers Consulting Services and development of specialized custom products for the
							defence, aviation, marine, robotic, and other industries.
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='about-heading'>
		<h1 class='squid-white'>About</h1>
		<%= image_tag '350-px-slides/iStock_000016863877_XXXLarge.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='about'>
				<div class='row'>
					<div class='desc'>
						Iris Dynamics, Ltd. is a privately held Canadian advanced technology company
						that provides high performance motion control systems for the realistic
						simulation and precision remote operation of aerial, marine and land vehicles.
					</div>
					<div class='col-md-6'>
						<%# <h2>Directors</h2> %>
						<ul>
							<li>
								<h3>Patrick McFadden</h3><h4>Chief Technical Officer and Co-Founder</h4>
							</li>
							<li>
								<h3>Kyle Hagen</h3><h4>Systems Development and Co-Founder</h4>
							</li>
							<li>
								<h3>Vern Little</h3><h4>Advisor and Co-Founder</h4>
							</li>
							<li>
								<h3>Gary Garritan</h3><h4>Advisor and Co-Founder</h4>
							</li>
							<li>
								<h3>John Nicol</h3><h4>Advisor to the Board</h4>
							</li>
						</ul>

					</div>
					<div class='col-md-6'>
						<%# <h2>Advisors</h2> %>
					</div>
					<div class='col-xs-12'>
						<h2> Partners </h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='contact-heading'>
		<h1 class='squid'>Contact</h1>
		<%= image_tag '350-px-slides/iStock_000041727900XXLarge.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='contact'>
				<div class='row'>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='kickstarter'>
		<h1 class='squid-white'>Closing Note</h1>
		<%= image_tag '350-px-slides/iStock_000005642497Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='kickstarter-content'>
				<div class='row'>
					<h4>
						Thanks to the support of our 186 backers we raised almost $90,000 to help bring this project to life!
					</h4>
				</div>
			</div>
		</div>
	</section>
</div>
