<%= render "shared/header" %>
<%= render 'shared/nav_menu' %>

<div class='main-content' id='home-index'>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='overview'>
				<div class='row'>

					<div class='col-xs-6 col-md-8'>
						<div class='desc'>
							<h1>Overview</h1>
							<p><i>
								Iris Dynamics produces precision motion control systems that are transforming
								how people interact with machines of all types.
							</i></p>
							<p>
								Our patent-pending technology provides haptic feedback and control loading technology
								at a dramatically lower cost. The core technology is ideally suited for flight simulation,
								as well as remote operation applications in aerospace equipment, submersibles, vehicles
								and heavy machinery.
							</p>

							<div class='col-md-6 desc nospace'>
								<h3> Advantages </h3>
								<ul>
									<li> Cost Effective </li>
									<li> Low Latency - Smooth real-time response </li>
									<li> A single moving part increases reliability and lowers maintenance costs </li>
									<li> Precision feel reduces training consts </li>
									<li> Better simulator training saves lives </li>
									<li> Reduces fuel consumption and lowers CO2 emissions </li>
								</ul>
							</div>

							<div class='col-md-6 desc nospace'>
								<h3> Applications </h3>
								<ul>
									<li> Flight Simulation </li>
									<li> Remote-Controlled Submersible Devices </li>
									<li> Remotely Piloted Aircraft Systems</li>
									<li> Tele-Robotics </li>
									<li> Remotely Operated Vehicles (ROVs)</li>
									<li> Heavy Equipment </li>
								</ul>
							</div>

						</div>
					</div>
					<div class='col-xs-6 col-md-4'>
						<div class='image-hook'>
							<%= image_tag 'iris-tech-3-trans.png', Class: 'tech-image' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='our-tech-heading'>
		<h1 class='squid-white'>Our Technology</h1>
		<%= image_tag '350-px-slides/iStock_000015463791_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='our-tech'>
				<div class='row'>
					<div class='col-md-12 desc'>
						<p>
							Iris Dynamics has developed a motion control system using programmable electro-magnetic
							induction to emulate physical forces and provide smooth force feedback to the operator.
						</p>
						<p>
							Other control systems are traditionally quite expensive as they rely on complex mechanical
							gears, pulleys, pneumatic and/or hydraulic systems with many moving parts.  Because of their
							cost and complexity these systems are typically used on very expensive industrial simulation
							equipment such as found on full motion aircraft simulators. The Iris Dynamics Actuator eamlessly
							integrates programamble electro-magnetics and hardware technologies to provide smoother and
							superior performance, with few moving parts, and most importantly, at a fraction of the cost.
						</p>
						<blockquote>
							<h4><i>
								"Iris Dynamics' solution is a mechanically simple design with a single moving part, which translates
								to reduced costs, higher reliability, and operation in challenging environments. It feels natural
								and real like flying an actual aircraft."
							</i></h4>
						</blockquote>
					</div>

					<div class='col-md-6'>
						<span>
							<%= image_tag 'wireframe-coil-shaft.png', class: 'tech-image' %>
						</span>
						<div class='desc'>
							<p>
								Iris Dynamics uses state-of-the-art technology to bring you the feel of an aircraft in a flight
								simulator like you have never felt before.  This represents the first significant innovation in
								"control loading" technology in many years.
							</p>
						</div>
					</div>

					<div class='col-md-6'>
						<span>
							<%= image_tag 'wireframe-coil.png', class: 'tech-image' %>
						</span>
						<div class='desc'>
							<p>
								In flight simulators for pilot training, existing control systems are often "one-way,” meaning
								external forces applied aerodynamically to the control surfaces of a plane are not felt at the
								controls.  It is important to provide the force feedback that would be felt in actual operations
								of the aircraft to properly prepare students and pilots for reality.  In other control systems,
								the missing forces are simulated with gears, pulleys, and springs which use many moving parts
								and have high failure rates and steep costs.
							</p>
						</div>
					</div>
					<div class='col-md-12 desc'>
						<p>
							This new class of tactile motion control systems with force feedback is adaptable and scalable,
							with applications in a wide variety of industries.
							Iris Dynamics is currently working on various tactile teleoperation projects.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='news-heading'>
		<h1 class='squid-white'>News</h1>
		<%= image_tag '350-px-slides/iStock_000003036229_Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='news'>
				<%= render "news/index" %>
			</div>
		</div>
	</section>

	<section class='sec-break' id='products-services-heading'>
		<h1 class='squid-white'>Products and Services</h1>
		<%= image_tag '350-px-slides/iStock_000019975185_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='products-services'>
				<div class='row'>
					<h3>Products</h3>
					<span class='desc'>
						Iris Dynamics currently offers three products. The Bumblebee Control Loading Yoke is our low-cost
						consumer product.  The Dragonfly Control Loading Yoke serves the global prosumer flight simulator market.
						The EMz Control Loading Module is our commercial-off-the-Shelf (COTS) product which uses our core
						technology to military and civilian system integrators.
					</span>
					<div class='col-md-12 products'>
						<%= render 'shared/catalog' %>
					</div>
					<div class='col-md-6'>
						<h4>Consulting and Custom Products</h4>
						<span class='desc'>
							Iris Dynamics offers Consulting Services and development of specialized solutions and
							technology transfer for the defence, aviation, heavy equipment, automotive, marine, robotic,
							and other applications.  The company has a contract engineering arm for the development of
							customized solutions with our unique, value-added hardware, software, and integration services
							to deliver industry-specific motion control solutions.  Iris Dynamics has also entered into the
							training market through joint ventures.
						</span>
					</div>
					<div class='col-md-6'>
						<h4>Research and Development</h4>
						<span class='desc'>
							Research & Development is at the heart of Iris Dynamics.We are committed to expanding and
							pushing forward our technology.  We are committed to investing in the future through our
							constant research and testing of new technologies. Our continued research and development
							efforts allow us to provide innovative, state-of-the-art, yet proven products and systems to
							industry.  Our professional team is developing the future of motion control systems today.
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='about-heading'>
		<h1 class='squid-white'>About</h1>
		<%= image_tag '350-px-slides/iStock_000016863877_XXXLarge.png', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='about'>
				<div class='row'>
					<div class='desc'>
						<p>
							Iris Dynamics, Ltd. is a privately-owned Canadian advanced technology company headquarted
							in Sidney, British Columbia, Canada, near the Victoria International Airport.
							Iris Dynamics has created a bold new class of variable force motion control systems. Its core
							technology improves the human-machine interface by adding precision force feedback and
							haptic feel.  Iris Dynamics has filed for PCT (international) and US Patents on its technologies.
						</p>
					</div>
					<h2>Team</h2>
					<div class='col-md-6'>
						<ul class='list-unstyled'>
							<li class='director'>
								<h5>Patrick McFadden</h5><h6>Chief Technical Officer and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>Gary Garritan</h5><h6>Advisor and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>Vern Little</h5><h6>Advisor and Co-Founder</h6>
							</li>
						</ul>

					</div>
					<div class='col-md-6'>
						<ul class='list-unstyled'>
							<li class='director'>
								<h5>Kyle Hagen</h5><h6>Systems Development and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>John Nicol</h5><h6>Advisor to the Board</h6>
							</li>
							<li class='director'>
								<h5>Peter Driessen, PhD</h5><h6>Advisor to the Board</h6>
							</li>
						</ul>
					</div>
					<div class='col-xs-12' id='partners'>
						<h2> Partners & Supporters </h2>
						<div class='col-md-12 logos'>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/bcic.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/ice.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/uVic.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/makerspace.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/mitacs.jpg' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nasa.png' %>
							</div>
						</div>
						<div class='col-xs-12 logos'>
							<div class='col-xs-offset-2 col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nrc.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nserc.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/UBC.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/viatec.jpg' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='contact-heading'>
		<h1 class='squid-white'>Contact</h1>
		<%= image_tag '350-px-slides/iStock_000041727900XXLarge.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='contact'>
				<div class='row'>
					<%= render 'shared/contact' %>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='kickstarter'>
		<h1 class='squid-white'>Closing Note</h1>
		<%= image_tag '350-px-slides/iStock_000005642497Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='kickstarter-content'>
				<div class='row'>
					<%= image_tag 'partner_logos/made-in-can.jpg' %>
				</div>
			</div>
		</div>
	</section>
</div>
