<%= render "shared/header" %>
<%= render 'shared/nav_menu' %>

<div class='main-content' id='home-index'>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='overview'>
				<div class='row'>

					<div class='col-xs-6 col-md-8'>
						<div class='desc'>
							<h1>Overview</h1>
							<p><i>
								Iris Dynamics produces precision motion control systems that are transforming how people
								interact with all types of machines.
							</i></p>
							<p>
								Our patent-pending technology provides haptic feedback and control loading technology
								at a significantly lower cost than previously available. The core technology creates a
								realistic operating experience and is ideally suited for flight simulation, as well as
								remote operation applications in aerospace equipment, submersibles, terrestrial vehicles and
								heavy machinery.
							</p>

							<div class='col-md-6 desc nospace'>
								<h3> Advantages </h3>
								<ul>
									<li>Cost effective, simple upgrade to existing simulation systems</li>
									<li>Low latency, anti-cogging and virtually frictionless operation provides smooth real-time response</li>
									<li>A single moving part increases reliability and lowers maintenance costs</li>
									<li>Accurate force modeling enhances realism and reduces training costs</li>
									<li>Better simulator training improves safety and reduces equipment operating costs</li>
									<li>Lowers CO2 emissions and energy costs by reducing equipment operating time</li>
								</ul>
							</div>

							<div class='col-md-6 desc nospace'>
								<h3> Applications </h3>
								<ul>
									<li>Flight Training and Simulation</li>
									<li>Remote-Controlled Subsea/Submersible Devices</li>
									<li>Remotely Piloted Aircraft Systems</li>
									<li>Tele-Robotics</li>
									<li>Remotely Operated Vehicles (ROVs)</li>
									<li>Heavy Equipment</li>
									<li>Specialized Simulation Systems</li>
								</ul>
							</div>

						</div>
					</div>
					<div class='col-xs-6 col-md-4'>
						<div class='image-hook'>
							<%= image_tag 'iris-tech-3-trans.png', Class: 'pull-right tech-image' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='our-tech-heading'>
		<h1 class='squid-white'>EmZ Technology</h1>
		<%= image_tag '350-px-slides/iStock_000015463791_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='our-tech'>
				<div class='row'>

					<div class='col-md-12 desc'>
						<h2>EmZ Technology</h2>
							<h3>What is EmZ Electro-Mechanical Impedance Technology and How Does It Work?</h3>
					</div>

					<div class='col-md-6'>
						<span>
							<%= image_tag 'wireframe-coil-shaft.png', class: 'pull-right tech-image' %>
						</span>
						<div class='desc'>
							<p>
							IRIS Dynamics has developed an innovative technology which employs electromagnetic force to vary
							the mechanical impedance of actuators. Ideal for simulation systems where control loading and
							haptic feel is essential for realistic training, EmZ Technology is applicable to broad classes of
							motion control where human operators require precision control of machines.
							</p>
						</div>
					</div>

					<div class='col-md-6'>
						<span>
							<%= image_tag 'wireframe-coil.png', class: 'pull-right tech-image' %>
						</span>
						<div class='desc'>
							<p>
							EmZ Technology uses patent-pending electromagnetic design and software algorithms to replace
							complex mechanical gears, pulleys, pneumatic and/or hydraulic systems with many moving parts.
							This dramatically increases motion fidelity and minimizes initial and on-going maintenance costs.
							</p>
						</div>
					</div>


					<div class='desc col-md-12'>
						<div class='col-xs-4'>
							<%= image_tag 'iris_words.jpg', class: 'no-pad tech-image' %>
						</div>
						<div class='col-xs-8'>
							<blockquote class='tech-quote'>
								<h4><i>
									"Iris Dynamics' solution is a mechanically simple design with a single moving part, which translates
									to reduced costs, higher reliability, and operation in challenging environments. It feels natural
									and real like flying an actual aircraft."
								</i></h4>
							</blockquote>
						</div>
					</div>

					<div class='col-md-12 desc'>
						<p>
							This new class of tactile motion control systems with force feedback is adaptable and scalable,
							with applications in a wide variety of industries.
							Iris Dynamics is currently working on various tactile teleoperation projects.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='news-heading'>
		<h1 class='squid-white'>News</h1>
		<%= image_tag '350-px-slides/iStock_000003036229_Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='news'>
				<%= render "news/index" %>
			</div>
		</div>
	</section>

	<section class='sec-break' id='products-services-heading'>
		<h1 class='squid-white'>Products and Services</h1>
		<%= image_tag '350-px-slides/iStock_000019975185_Medium.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='products-services'>
				<div class='row'>
					<h3>Products</h3>
					<span class='desc'>
						Iris Dynamics currently offers three products. The Bumblebee Control Loading Yoke is our low-cost
						consumer product.  The Dragonfly Control Loading Yoke serves the global prosumer flight simulator market.
						The EmZ Control Loading Module is our commercial-off-the-Shelf (COTS) product which uses our core
						technology to military and civilian system integrators.
					</span>
					<div class='col-md-12 products'>
						<%= render 'shared/catalog' %>
					</div>
					<div class='col-md-6'>
						<h4>Consulting and Custom Solutions</h4>
						<span class='desc'>
							Iris Dynamics offers consulting services and development of specialized solutions and technology
							transfer for the defence, aviation, heavy equipment, automotive, marine, robotic, undersea, and
							other applications. The IRIS Dynamics EmZ Technology can be customized for a variety of host
							systems and is ideal for system integrators.  The company will also undertake custom engineering
							projects by applying our unique, value-added hardware, software, and integration services to
							deliver industry-specific motion control solutions.
						</span>
					</div>
					<div class='col-md-6'>
						<h4>Research and Development</h4>
						<span class='desc'>
							Research & Development is at the heart of Iris Dynamics. Our continued R&D initiatives allow us
							to provide innovative, state-of-the-art, yet proven products and systems to industry.  We work
							closely with Universities, key customers and the Aerospace industry to apply our innovative
							technology to new motion control challenges.
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='about-heading'>
		<h1 class='squid-white'>About</h1>
		<%= image_tag '350-px-slides/iStock_000016863877_XXXLarge.png', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='about'>
				<div class='row'>

					<div class='desc'>
						<p>
							Iris Dynamics, Ltd. is a privately-owned Canadian advanced technology company with headquarters
							in North Saanich, British Columbia, Canada, adjacent to the Victoria International Airport.  We have
							created an innovative new class of electro-mechanical variable impedance motion control systems that
							improves the human-machine interface. We have filed for PCT (international) and US Patents on
							our underlying technology.
						</p>
						<p>
							IRIS Dynamics is a secure and trusted company that holds appropriate security clearances and is
							registered with the Canadian Controlled Goods Program and an active member of CADSI.
						</p>
						<p>
							IRIS Dynamics started as a successful Kickstarter campaign in 2013 to develop a new kind of
							control-loading flight yoke for flight simulation. Since then the technology has scaled and
							evolved into a variety of other applications.
							OUR MISSION: We are the advanced motion control systems innovator that provides precision
							control-loading actuator systems for aerial, marine and terrestrial vehicles, factory automation,
							simulation and remote control.
						</p>
						<p>
							OUR VISION: Transforming how people interact with machines.
						</p>
					</div>

					<h2>Team</h2>
					<div class='col-md-6'>
						<ul class='list-unstyled'>
							<li class='director'>
								<h5>Patrick McFadden</h5><h6>Chief Technical Officer and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>Gary Garritan</h5><h6>Advisor and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>Vern Little</h5><h6>Advisor and Co-Founder</h6>
							</li>
						</ul>
					</div>
					<div class='col-md-6'>
						<ul class='list-unstyled'>
							<li class='director'>
								<h5>Kyle Hagen</h5><h6>Systems Development and Co-Founder</h6>
							</li>
							<li class='director'>
								<h5>John Nicol</h5><h6>Advisor to the Board</h6>
							</li>
						</ul>
					</div>
					<div class='col-xs-12' id='partners'>
						<h2> Partners & Supporters </h2>
						<div class='col-md-12 logos'>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/bcic.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/ice.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/uVic.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/makerspace.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/mitacs.jpg' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nasa.png' %>
							</div>
						</div>
						<div class='col-xs-12 logos'>
							<div class='col-xs-offset-2 col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nrc.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/nserc.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/UBC.png' %>
							</div>
							<div class='col-xs-4 col-sm-2 logo-wrapper'>
								<%= image_tag 'partner_logos/viatec.jpg' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='contact-heading'>
		<h1 class='squid-white'>Contact</h1>
		<%= image_tag '350-px-slides/iStock_000041727900XXLarge.jpg', class: 'sec-image' %>
	</section>

	<section class='even'>
		<div class='container'>
			<div class='row-wrapper' id='contact'>
				<div class='row'>
					<%= render 'shared/contact' %>
				</div>
			</div>
		</div>
	</section>

	<section class='sec-break' id='closing-heading'>
		<h1 class='squid-white'>Closing Note</h1>
		<%= image_tag '350-px-slides/iStock_000005642497Large.jpg', class: 'sec-image' %>
	</section>

	<section class='odd'>
		<div class='container'>
			<div class='row-wrapper' id='closing'>
				<div class='row'>
					<h4>
						We wish to thank all of our supporters.  There are many wonderful things happening with
						Iris Dynamics.
						<br>
						Stay tuned!  The best is yet to come.
					</h4>
					<%= image_tag 'partner_logos/made-in-can.jpg' %>
				</div>
			</div>
		</div>
	</section>
</div>
