<h1>News</h1>

	<% @news.each do |news| %>
		<div class='col-md-12 news-article'>

			<% if current_user.try(:admin?) %>
				<%= link_to 'Show', news %>
				<%= link_to 'Edit', edit_news_path(news) %>
				<%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>

			<h2> <%= news.title %> </h2>
			<p> <%= news.body %> </p>

		</div>
	<% end %>

<br>
