<h1> <%= @news.title %> </h1>


<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_news_path(@news) %>
	<%= link_to 'Destroy', @news, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div>
	<%= image_tag @news.image.url(:large), class: 'full-width'%>
</div>

<p>
<%= @news.body %>
</p>
