<h1> <%= @news.title %> </h1>


<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_news_path(news) %>
	<%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to image_tag @news.image.url :med, @post.image.url %>

<p>
<%= @news.body %>
</p>
