<% background_url = news.image.url(:teaser) %>
<% controller_name == 'home' ? view_width = 'col-sm-4' : view_width = 'col-sm-12' %>

<%# don't preserve :page in url if we're not linking from the news controller %>
<% controller_name == 'news' ? page = params[:page] :  page = '1' %>


<div class='news-teaser-wrapper clearfix <% view_width %>'>

	<div class='news-title col-xs-12'>
		<h4> <%= news.title %> </h4>
	</div>

	<div class='hidden-xs col-sm-3 col-md-4 col-lg-3'>
		<%= image_tag news.image(:thumb) %>
	</div>

	<div class='col-xs-12 col-sm-9 col-md-8 col-lg-9 news-teaser-content'>

		<div class='news-body'>
			<p> <%= time_ago_in_words(news.created_at) %> ago</p>

			<p>
				<%= truncate( raw(news.body), length: 200, separator: '.') %>
			</p>
		</div>

		<%= link_to news_path(news, page: page ), class: 'news-teaser-more-link' do %>
			<span>Read More</span>
		<% end %>
	</div>
</div>
