<% background_url = news.image.url(:teaser) %>
<% controller_name == 'home' ? view_width = 'col-sm-4' : view_width = 'col-sm-12' %>

<%# don't preserve :page in url if we're not linking from the news controller %>
<% controller_name == 'news' ? page = params[:page] :  page = '1' %>

<%= link_to news_path(news, page: page ) do %>
<div class='news-teaser-wrapper col-xs-12 <%= view_width %>' style='background-image:url("<%= background_url %>")' >
	<div class='news-teaser-content'>


		<div class='translucent news-title'>
			<h4> <%= news.title %> </h4>
		</div>

		<div class='news-body translucent'>
			<p> <%= time_ago_in_words(news.created_at) %> ago</p>

			<p>
				<%= truncate(news.body, length: 100, separator: '.') %>
			</p>
		</div>

		<% if current_user.try(:admin?) %>
			<div>
				<%= link_to 'Edit', edit_news_path(news) %>
				<%= link_to 'Remove', news, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		<% end %>
	</div>
</div>
<% end %>
