<% background_url = news.image.url(:teaser) %>
<% controller_name == 'home' ? view_width = 'col-sm-4' : view_width = 'col-sm-12' %>

<div class='news-teaser-wrapper col-xs-8 col-xs-offset-2 <%= view_width %> col-sm-offset-0' style='background-image:url("<%= background_url %>")' >
	<div class='news-teaser-content'>

		<%# don't preserve :page in url if we're not linking from the news controller %>
		<% controller_name == 'news' ? page = params[:page] :  page = '1' %>

		<h4 class='translucent news-title'><%= link_to news.title, news_path(news, anchor: 'news-article', page: page ), class: 'read-more' %> </h4>

		<div class='news-body translucent'>
			<span> <%= time_ago_in_words(news.created_at) %> ago</span>

			<p>
				<%= truncate(news.body, length: 100, separator: '.') %>
			</p>
		</div>

		<% if current_user.try(:admin?) %>
			<div>
				<%= link_to 'Edit', edit_news_path(news) %>
				<%= link_to 'Remove', news, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		<% end %>
	</div>
</div>
